@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400 700;
}

@font-face {
  font-family: 'Anton SC';
  src: url(../assets/fonts/AntonSC-Regular.ttf);
  font-weight: 400 900;
}

:root {
  --heading-color: darkblue;
  --light-blue: rgb(58, 133, 231);
  --font-family: 'Roboto', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.13rem;
  padding-block: 1rem 5rem;
  width: 90%;
  line-height: 1.6;
  max-width: 90rem;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Anton SC', serif;
  text-align: center;
  letter-spacing: 0.2px;
}

a,
button {
  cursor: pointer;
}

a,
button:hover {
  transition: all 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video {
  width: 100%;
}

button {
  display: block;
  background-color: transparent;
  border: none;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.scroll-down {
  position: absolute;
  top: 85vh;
  left: -10px;

  .scroll-down-btn {
    display: inline-block;
  }

  .scroll-down-btn:hover {
    scale: 1.1;
  }

  svg {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: contain;
    width: 2rem;
    height: 2rem;
    align-self: center;
    justify-self: center;

    padding: 0.3rem;
  }
}

strong {
  font-weight: 700;
}

.hero-image_content {
  justify-items: center;
  align-content: center;
  margin-block: 1rem;

  img {
    width: 100%;
    max-width: 18rem;
    border-radius: 4px;
    box-shadow: 4px 7px 19px black;
  }

  p {
    margin-top: 1.2rem;
  }
}

.hero-main_content {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.4rem;
    text-wrap: balance;
    text-align: center;
    color: var(--heading-color);
  }

  .by-author {
    color: var(--heading-color);
    font-size: 1.4rem;
  }
}

.hero-book_title {
  border-block: 0.5px solid rgba(0, 0, 0, 0.7);
  padding-block: 2rem;
  margin-block: 1rem 2rem;
  width: 100%;
  display: grid;
  place-items: center;

  border-top-color: rgba(0, 0, 0, 0.4);
  border-top-width: 2px;

  h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--light-blue);
    font-family: var(--font-family);
  }

  video {
    /* object-fit: initial; */
    margin-block: 1.3rem;
    height: 11rem;
    border-radius: 8px;
    max-width: 25rem;
  }

  p {
    font-size: 1.2rem;
    color: var(--light-blue);
    text-wrap: balance;
    max-width: 40rem;
  }
}

.learn-more {
  margin-block: 2rem 1rem;

  a {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  a:hover {
    background-color: darkblue;
  }
}

video {
  max-width: 40rem;
}

.main-wrapper {
  display: grid;
  gap: 4rem;
  margin-block: 10rem 7rem;
}

.book-chapters {
  position: relative;
  text-align: center;

  h2 {
    color: var(--heading-color);
    text-transform: uppercase;
  }

  li {
    text-transform: capitalize;
    margin-block: 1.4rem;
    color: var(--light-blue);
  }

  div:first-of-type {
    margin-bottom: 1.4rem;
  }
}

.bold-border {
  background-color: rgb(48, 122, 219);
  height: 20px;
  width: 70%;
  margin-inline: auto;
}

.book-summary {
  position: relative;
}

.buy-now {
  margin-block: 1.2rem;
  display: flex;
  justify-content: flex-end;

  button {
    text-transform: uppercase;
    background-color: gold;
    color: white;
    padding: 0.8rem 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  }

  .buy-now-btn:hover {
    background-color: goldenrod;
  }
}

.main-footer {
  display: grid;
  place-items: center;
  gap: 3rem;
}

.about-author h4,
.other-books h4 {
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about-author {
  p {
    font-size: 1.25rem;
    text-align: justify;
  }
}

.author-address,
.author-email {
  text-align: center;
}

.author-email a {
  text-decoration: underline;

  &:hover {
    color: var(--light-blue);
  }
}

.author-image {
  width: fit-content;
  margin-bottom: 1rem;

  img {
    border-radius: 8px;
  }
}

.other-books {
  li {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }

  strong {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (min-width: 48rem) {
  body {
    width: 80%;
  }

  .scroll-down {
    top: 90vh;
    left: -3.4rem;
  }

  .hero {
    flex-direction: row;

    gap: 3rem;
    min-height: 50vh;
  }

  .hero-main_content {
    flex-basis: 60%;
  }

  .hero-image_content {
    flex-basis: 40%;
  }

  .main-wrapper {
    grid-template-columns: 2fr auto 3fr;
  }

  .bold-border {
    width: 20px;
    height: 70%;
    margin: auto 0;
  }

  .hero-book_title {
    p {
      font-size: 1.3rem;
    }

    h2 {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 64rem) {
  .scroll-down {
    bottom: 1rem;
    top: auto;
  }

  .hero-main_content {
    flex-basis: 55%;

    h1 {
      font-size: 3rem;
    }
  }

  .hero-image_content {
    flex-basis: 45%;
  }

  .main-footer {
    grid-template-columns: 1fr auto;
    align-items: flex-start;
  }

  .about-author {
    max-width: 30rem;
  }

  .other-books {
    max-width: 24rem;
    grid-column: 1/-1;
  }

  .hero-book_title {
    p {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 81.25rem) {
  .main-footer {
    display: flex;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  .scroll-down-btn {
    animation: bounce 1s infinite;
  }

  .buy-now-btn {
    display: block;
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    animation-delay: 2s;
  }

  .buy-now-btn:hover,
  .scroll-down-btn:hover {
    animation-play-state: paused;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.08);
    opacity: 0.8;
  }
}
